* {
    font-family: 'Open Sans', sans-serif;
    background-color: lightgrey;
}

div {
    margin: 50px;
}

#phillip {
    color: whitesmoke;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: rgb(41, 59, 136);
}

#introduction {
    margin: 10px;
    float: center;
    text-align: center;
    width: 1000px;
}

img {
    margin: 2px;
    width: 100px;
    height: 100px;
}


h3 {
    color: navy ;
    font-size: 24px;
    text-decoration: underline;
    }

p {
    color: rgb(6, 3, 43);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

#contact {
    margin: 10px;
}

#occupation ul {
    background-color: cadetblue;
    width: 250px;
    border-style: dashed;
    border-width: 1px;
    text-align: left; 
}

li {
    color: rgb(6, 3, 43);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
}

#hobbies {
    margin: 10px;
}

#compatibility {
    width: 600px;
    text-align: center;
}

.questions {
    text-align: left;
}

.reply {
    color: rgb(30, 14, 70);
    font-family: 'Kavivanar', cursive;
    font-size: 12px;
    text-align: left;
}

#questionaire {
    font-size: 18px;
    text-decoration: underline;
}